@font-face {
    font-family: 'DeathtrapDemo-6rR1';
    src: url('fonts/DeathtrapDemo-6rR1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
}

.container {
    max-width: 960px;
    width: 100%;
    padding: 20px;
    margin-top: 40px;
}

header {
    font-size: 48px;
    letter-spacing: px;
    padding: 0 0 60px 0;
    font-family: 'DeathtrapDemo-6rR1', Arial, sans-serif;
}

.www {
    color: #ffffff;
    font-size: 20px;
}

.tags {
    margin-bottom: 40px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.gallery-item {
    width: 100%;
    border: 2px solid #000000;
    box-sizing: border-box;
    aspect-ratio: 4 / 5;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    margin-top: 40px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100vw; height: 100vh;
  align-items: center; justify-content: center;
}
.modal.active {
  display: flex;
}
.modal-bg {
  position: absolute;
  width: 100vw; height: 100vh;
  left: 0; top: 0;
  background: rgba(0,0,0,0.6);
}
#modalImg {
  position: relative;
  max-width: 80vw;
  max-height: 80vh;
  box-shadow: 0 0 30px #000;
  z-index: 1;
}

.marquee {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: #000;
  color: #fff;
  font-size: 20px;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  z-index: 2000;
  height: 40px;
  display: flex;
  align-items: center;
}
.marquee span {
  color: #2fff00;
  display: inline-block;
  animation: marquee 10s linear infinite;
}
@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-40%); }
}